   <!-- container -->
<div class="container header-content ">
    <!-- about wrapper -->
    <div class="about">
        <div class="about-img-holder">
            <img src="~/imgs/man.png" class="about-img">
        </div>
        <div class="about-caption">
            <p class="section-subtitle" id="about_subtitle_id"></p>
            <h2 class="section-title mb-3" id="about_title_id"></h2>
            <p id="about_description_id"></p>
            <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
        </div>
    </div><!-- end of about wrapper -->
</div><!-- end of container -->

<script type="text/jscript">
    $(document).ready(function () {
        $.ajax({
            type: "Get",
            url: "Profile/GetAboutInfo",
            dataType: "json",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    if (data[i].category == "Subtitle") {
                        document.getElementById("about_subtitle_id").innerText = data[i].value;
                        continue;
                    }

                    if (data[i].category == "Title") {
                        document.getElementById("about_title_id").innerText = data[i].value;
                        continue;
                    }

                    if (data[i].category == "Description") {
                        document.getElementById("about_description_id").innerText = data[i].value;
                        continue;
                    }
                }
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
    });
</script>